version: '3.5'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sfa-mservice-users
    environment:
      - APP_URL=${APP_URL}
      - AMQP_URL=${AMQP_URL}
      - MONGODB=${MONGODB}
      - PAGINATION_DEFAULT_PAGE=${PAGINATION_DEFAULT_PAGE}
      - PAGINATION_DEFAULT_LIMIT=${PAGINATION_DEFAULT_LIMIT}
      - PAGINATION_DEFAULT_ORDER=${PAGINATION_DEFAULT_ORDER}
    volumes:
      - ./src:/app/src