<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/new-password.css">
</head>
<body>
    <p class="notify">APP Notification</p>
    <div class="container">
        <div class="header">
            <h1>APP</h1>
        </div>

        <div class="container-body">
            <h3>Account updated successfully</h3>
            <p>Hi, {{ username }},</p>
            <p class="justify-p">Your password has been updated correctly on the day and time: {{ date }}.</p>
            <div class="verify-email">
                <div>
                    <img src="https://i.ibb.co/pf4sK4L/success.png" alt="success">
                </div>
            </div>
            <p class="justify-p-request"><span>Request from</span> {{ region }}, {{ city }}, {{ country }}, {{ timezone }}.</p>
            <p class="justify-p-request"><span>Device info</span> {{ os }}, {{ device }}, {{ client }}.</p>
            <p class="justify-p-date">{{ date }}</p>
            <p>To obtain more information and to be able to edit everything about your account, visit the main page in the upper section by clicking on the gear icon on the page.</p>
            <p>Have a good day,<br>Account Protection Team APP.</p>
        </div>

        <div class="footer">
            <div class="social">
                <a href="#">
                    <div>
                        <img src="https://i.ibb.co/qJ8L26q/facebook.png" alt="facebook">
                    </div>
                </a>
                <a href="#">
                    <div>
                        <img src="https://i.ibb.co/2tykdNc/twitter.png" alt="twitter">
                    </div>
                </a>
                <a href="#">
                    <div>
                        <img src="https://i.ibb.co/ZGztzLW/instagram.png" alt="instagram">
                    </div>
                </a>
            </div>
            <ul>
                <li><a>&#8226; Notice of Privacy</a></li>
                <li><a>&#8226; Support</a></li>
                <li><a>&#8226; Terms and Conditions</a></li>
            </ul>
            <p>This is a service notification email.</p>
            <p>
                APP, Inc. 55455 App-yama. Kernell, Shuvi, Latinoamerica © 2022 APP. All rights reserved.
            </p>
            <p>© 2022 APP, Inc.</p>
        </div>
    </div>
</body>
</html>